# Application Service Configuration
PORT=5004
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=verify-full

# Cloudinary Configuration
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# JWT Authentication Secret
JWT_ACCESS_SECRET=your_jwt_access_secret_here
