# Job Service Configuration
PORT=5003
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=verify-full

# Redis Cache Configuration
REDIS_URL=redis://localhost:6379
